@media screen and (max-width: 800px){
  .line{
    @col-width:18px;

    ul li{
      width: @col-width;
      font-size: @col-width;
      font-size: @col-width;
    }
  }

  .image_content p{
    font-size: 20px;
  }

  .station{
    font-size: 10px;
  }

  .meta_text{
    font-size: 25px;
  }

  .bottom_bar{
    height: 25px;
    font-size: 25px;
  }

  .tabs{

    height: 300px;
  
    label {
      font-size: 20px;
      height: 30px;
      width:100px;
    }

    .line{
      height: 250px;
    }

    .image_content{
      height: 250px;
      img{
        height: 100%;
      }
    }

  }

}