<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container">
    <!-- <div class="logo" /></div> -->
    <div class="main">
    <div class="title">
      <%= routeName %>
    </div>
    <div class="meta_text">
      <span>更新时间:</span> <span>2015年1月6日23:27:17</span>
      <span><a>班车助手</a></span>
    </div>
    <div class="image_content">
      <img src="<%= img_url %>" />
      <p >班车在xxx附近</p>
    </div>
    <div id="ads_area">
      <div class="ad"> 我是一个广告</div>
    </div>

  </div>
  <div class="bottom_bar">
    文字促销信息
  </div>
  </body>
</html>