* {
  margin: 0;
  border: 0;
}
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body {
  background-color: #e7e8eb;
}
p {
  margin: 5px;
  font-size: 10px;
  color: #3e3e3e;
}
.container {
  margin: 0;
  background-color: #e7e8eb;
  position: relative;
  margin-bottom: 50px;
}
.main {
  width: 90%;
  height: 100%;
  border: 2px #e7e8eb solid;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  background-color: #fff;
  margin-bottom: 60px;
}
.image_content {
  margin-top: 15px;
  border: 3px solid #0f5397;
  border-radius: 5px;
  margin-bottom: -1px;
  position: relative;
  padding: 0 5px;
}
.image_content img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.image_content p {
  font-size: 35px;
  color: #0f5397;
}
.image_content a {
  font-size: 35px;
}
.logo {
  position: fixed;
  right: 10px;
  top: 20px;
  background-image: url(/images/logo.jpg);
  height: 70px;
  width: 56px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 999;
}
.bottom_bar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.title {
  padding-bottom: 5px;
  border-left: 5px;
  border-bottom: 1px #e7e7eb solid;
  font-weight: 700;
  font-size: 60px;
  color: #0f5396;
  font-family: "黑体", Arial, Helvetica, sans-serif;
}
.meta_text {
  font-size: 40px;
  color: #8c8c8c;
}
.ad {
  margin: 10px auto;
  font-size: 0;
}
.ad .image_content {
  width: 33%;
  display: inline-block;
  padding: 0 5px;
  box-sizing: border-box;
  border: 0;
}
.ad .image_content img {
  border: 3px #0f5397 dashed;
  border-radius: 10px;
}
a {
  color: #00B7FF;
}
li {
  list-style: none;
}
.line_and_ad {
  width: 100%;
}
.line {
  width: 100%;
  margin-top: 15px;
}
.line ul {
  margin: 0 auto;
  padding: 0;
  width: 40%;
  list-style-type: disc;
  overflow: hidden;
  counter-reset: bus-counter 0;
}
.line ul:after {
  content: "";
  clear: both;
}
.line ul li {
  float: left;
  width: 40px;
  font-size: 40px;
  margin-left: 10px;
  word-wrap: break-word;
  word-break: normal;
}
.line ul li:last {
  clear: both;
}
.line .ad {
  vertical-align: top;
  display: inline-block;
  margin: 10px auto;
}
.line .base-station {
  top: -10px;
  right: 7px;
  display: block;
}
.line .station {
  counter-increment: bus-counter;
}
.line .station--passed {
  color: #acacac;
}
.line .station--default {
  color: #acacac;
}
.line .base-before {
  top: -15px;
  display: block;
  height: 30px;
  width: 30px;
  content: counter(bus-counter);
  color: #fff;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
}
.line .station--current:before {
  top: -15px;
  display: block;
  content: counter(bus-counter);
  color: #fff;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  font-size: 20px;
  height: 30px;
  width: 30px;
  border: 3px solid #1d2287;
  /*background-color:rgba(29,34,135,1);*/
  background-color: #d22115;
  border-radius: 20%;
}
.line .station--passed:before {
  top: -15px;
  display: block;
  height: 30px;
  width: 30px;
  content: counter(bus-counter);
  color: #fff;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  border: 3px solid #005aaa;
  background-color: #005aaa;
  border-radius: 50%;
}
.line .station--default:before {
  top: -15px;
  display: block;
  height: 30px;
  width: 30px;
  content: counter(bus-counter);
  color: #fff;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.line .station--start:before {
  top: -15px;
  display: block;
  height: 30px;
  width: 30px;
  content: counter(bus-counter);
  color: #fff;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  color: #0f5397;
  border: 2px solid rgba(210, 33, 21, 0.8);
  background-color: #d22115;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.line .station--end:before {
  top: -15px;
  display: block;
  height: 30px;
  width: 30px;
  content: counter(bus-counter);
  color: #fff;
  line-height: 30px;
  font-size: 15px;
  text-align: center;
  border: 2px solid rgba(210, 33, 21, 0.8);
  background-color: #d22115;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
#ad-area {
  /* Setup Tab so normal opacity is 40 and rollover is 100 */
}
#ad-area a {
  text-decoration: none;
  color: #0f5397;
}
#ad-area ul {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 2em;
  width: 300px;
  /* Width of Tab Image */
  display: block;
  list-style: none;
}
#ad-area ul li {
  float: left;
  height: 2em;
  margin: auto;
  background-color: #EE373B;
  width: 75px;
  border-radius: 5px;
  /* Height of Tab Image */
}
#ad-area ul li a {
  margin: auto ;
}
#ad-area ul li a img {
  opacity: 0.4;
}
#ad-area ul li a:hover img {
  opacity: 1.0;
}
#ad-area #images {
  width: 300px;
  height: 400px;
  overflow: hidden;
}
#ad-area #images img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#ad-area .more a {
  margin-top: 30px;
  font-size: 30px;
}
.tabs {
  margin-top: 20px;
  height: 620px;
  position: relative;
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.tabs li {
  float: left;
}
.tabs input[type=radio] {
  display: none;
}
.tabs label {
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #d1d1d1;
  display: block;
  height: 50px;
  margin-right: 5px;
  width: 200px;
  text-align: center;
  border-bottom-color: #d1d1d1;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  color: white;
  font-size: 35px;
}
.tabs label:hover {
  background: #efefef;
}
.tabs .content {
  background-color: #fff;
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
}
.tabs [id^=tab_btn_]:checked + label {
  background-color: #0f5397;
  border-bottom-color: #000;
  border-bottom-width: 5px;
  border-bottom-style: solid;
}
.tabs [id^=tab_btn_]:checked ~ .content {
  display: block;
}
.tabs .line ul {
  margin-top: 60px;
  width: 100%;
}
.tabs .line {
  height: 550px;
  margin-top: 2px;
  border: 3px solid #0f5397;
  border-radius: 5px;
}
.tabs .image_content {
  margin-top: 2px;
  height: 550px;
}
@media screen and (min-width: 1024px) {
  .line ul li {
    width: 51.2;
    font-size: 51.2;
  }
  .main {
    padding: 20px;
  }
  .container {
    width: 800px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #e7e8eb;
  }
}
@media screen and (max-width: 800px) {
  .line ul li {
    width: 18px;
    font-size: 18px;
  }
  .image_content p {
    font-size: 20px;
  }
  .station {
    font-size: 10px;
  }
  .meta_text {
    font-size: 25px;
  }
  .bottom_bar {
    height: 25px;
    font-size: 25px;
  }
  .tabs {
    height: 300px;
  }
  .tabs label {
    font-size: 20px;
    height: 30px;
    width: 100px;
  }
  .tabs .line {
    height: 250px;
  }
  .tabs .image_content {
    height: 250px;
  }
  .tabs .image_content img {
    height: 100%;
  }
}
@media screen and (max-width: 400px) {
  .title {
    font-size: 30px;
  }
  .meta_text {
    font-size: 17px;
  }
  .image_content p {
    font-size: 20px;
  }
  .ad .image_content img {
    border: 2px #0f5397 dashed;
  }
}
